.who-we-are {
  display: flex;
  justify-content: center;
  background-color: #30475E;
  color: white;
  h1{
    margin-bottom: 0;
  }
}

.who-header {
  max-width: 20%;
  h1 {
    font-size: 3vw;
  }
}

.who-text {
  max-width: 50%;
  display: flex;
  align-items: center;
  p {
    font-size: 1.5vw;
    margin-bottom: 0;
  }
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-card {
  max-width: 35%;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  h4 {
    font-style: italic;
  }
}

.about-card:hover {
  background-color: white;
}

.about-image {
  text-align: center;
  img {
    width:70%; /* you can use % */
    height: 70%;
    border-radius: 10px;
  }
}

.about-name {
  margin: 10px;
  h2 {
    font-size: 3vw;
  }
  h4 {
    font-size: 2vw;
  }
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.company-logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.company-logo:hover {
  background-color: lightgrey;
  border-radius: 10px;
}
