<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>

  <body>
    <div class="banner">
      <div class="banner-header">
        <h1>T A B A T O</h1>
      </div>
      <div class="banner-text">
        <p>Conectando a los mejores productores industriales de México con los principales clientes de EE.UU. y México</p>
      </div>
    </div>
      <div class="info-header">
        <h1><b>Lo que ofrecemos</b></h1>
      </div>
      <div class="info-container">
        <div class="info-offering">
          <p>Una plataforma digital, sencilla y eficaz de gestionar cómo se construyen las cosas, y se da vida a las ideas</p>
        </div>
        <div class="info-offering">
          <p>Una red de proveedores manufactureros de primera clase que aseguran alta calidad, con certificaciones ISO9001 y AS9100D, cortos plazos de entrega, y precios competitivos a nivel mundial</p>
        </div>
      </div>


    <div class="footer">
      <p>TABATO
      © 2021 by Tabato, Inc. All rights reserved.
      </p>
    </div>
  </body>
</html>
