<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>

  <body>
    <div class="banner">
      <div class="banner-header">
        <h1>T A B A T O</h1>
      </div>
      <div class="banner-text">
        <p>Conectando a los mejores productores industriales de México con los principales clientes de EE.UU. y México</p>
      </div>
    </div>
    <div class="about-us">
      <p>
      <b>TABATO</b> tiene la misión de democratizar la industria manufacturera hoy en día para permitir a las empresas encontrar las mejores oportunidades a los mejores precios: estamos construyendo una forma digital, sencilla y eficaz de gestionar cómo se construyen las cosas, y se da vida a las ideas.
      <b>TABATO</b> reduce los costos de producción y el tiempo de entrega de las empresas a través de una red de proveedores manufactureros de primera clase que aseguran un excelente servicio y alta confiabilidad.
      Nuestros proveedores aseguran alta calidad, con certificaciones ISO9001 y AS9100D, cortos plazos de entrega, y precios competitivos a nivel mundial. Ofrecemos procesos de fabricación y servicios ilimitados brindados por nuestros proveedores de categoría mundial.
      </p>
    </div>
      <div class="info-header">
        <h1><b>Lo que ofrecemos</b></h1>
      </div>
        <div class="info-container">
          <div class="info-box">
            <i class="fas fa-industry fa-5x"></i>
            <h2>Para productores</h2>
            <p style="text-align: center;">Aumente sus ventas, a ningún costo adicional, mediante a acceso exclusivo a compradoras en EE.UU. y México</p>
          </div>
          <div class="info-box">
            <i class="fas fa-users fa-5x"></i>
            <h2>Para clientes</h2>
            <p style="text-align: center;">Ahorre tiempo y dinero gracias a nuestra amplia base de datos y poderoso algoritmo que lo conectaran con el perfecto proveedor</p>
          </div>
        </div>

    <div class="footer">
      <p>TABATO
      © 2021 by Tabato, Inc. All rights reserved.
      </p>
    </div>
  </body>
</html>
