<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="banner">
      <div class="banner-header">
        <h1>T A B A T O</h1>
      </div>
      <div class="banner-text">
        <p>Connecting Mexico's best industrial manufacturers with top clients in the US and Mexico</p>
      </div>
    </div>
  </body>
</html>

<h1 class='info-header'>What we offer</h1>

<div class="info-container">
  <div class="info-box">
    <i class="fas fa-industry fa-5x"></i>
    <h2>For suppliers</h2>
    <p style="text-align: center;">Increase sales by exclusive access to top clients in Mexico and the US</p>
  </div>
  <div class="info-box">
    <i class="fas fa-users fa-5x"></i>
    <h2>For clients</h2>
    <p style="text-align: center;">Save time and money through our extensive database of suppliers and proprietary matching algorithm</p>
  </div>
</div>
