.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0.25rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-right{
  display: flex;
  align-items: center;
}

a.nav-link {
  color: #30475E;
}

.nav-link-button {
  color: white;
}
